{% extends 'admin/base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<h1>Admin Dashboard</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">{{ totalUsers }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Contacts</h5>
                <p class="card-text">{{ totalContacts }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
